Tugas Pertemuan 5 - RAG Pipeline.json
{
  "name": "Tugas Pertemuan 5 - RAG Pipeline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1bb7rzqU_WWPqN0NQGWBNjPnApNZRmToE",
          "mode": "list",
          "cachedResultName": "Stupen Ai For Business",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bb7rzqU_WWPqN0NQGWBNjPnApNZRmToE"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -16
      ],
      "id": "24d91604-60e3-452e-8a51-1c1aa2a40dfe",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7XkiZJh5clviuh4y",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7138d05e-947e-4c7a-9742-8130a5c81ef8",
              "name": "file_id",
              "value": "={{$json.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        -16
      ],
      "id": "9f054b10-7104-4fcc-8ef6-fff99a1f578e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{$json.file_id}}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        -16
      ],
      "id": "d0f4f568-5400-470b-b45c-bc2862076cbe",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7XkiZJh5clviuh4y",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        384,
        -16
      ],
      "id": "91787ad9-328a-497a-9e1b-af2db5a1ec45",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_skripsi",
          "mode": "list",
          "cachedResultName": "documents_skripsi"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        592,
        -16
      ],
      "id": "a253925f-bbdd-4514-ac5a-1b0fe8afe3c2",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "bxqi3etTGcnadGrM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        736,
        176
      ],
      "id": "7dd4aae6-a02d-4c1b-b46a-61520b94caa5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        192
      ],
      "id": "bc41fc22-5600-496c-a40b-b5b4db1dd729",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "WU1TDXKIA81b2EAy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        736,
        336
      ],
      "id": "e87aaf32-0276-4693-ae3d-199999e239b3",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8e6d7cfb-229c-4506-87f6-264955522b37",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2793832703a88fe04118bc957b4cf485ab262dee71614b46602b63a82b8a4db6"
  },
  "id": "cJgraszyc7x2kWb6",
  "tags": []
}